<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vincer.system.mapper.ArticleMapper">

    <resultMap type="Article" id="ArticleResult">
        <result property="id" column="id"/>
        <result property="uuid" column="uuid"/>
        <result property="version" column="version"/>
        <result property="title" column="title"/>
        <result property="userId" column="user_id"/>
        <result property="coverImage" column="cover_image"/>
        <result property="readType" column="read_type"/>
        <result property="editorType" column="editor_type"/>
        <result property="qrcodePath" column="qrcode_path"/>
        <result property="isMarkdown" column="is_markdown"/>
        <result property="content" column="content"/>
        <result property="contentMd" column="content_md"/>
        <result property="top" column="top"/>
        <result property="typeId" column="type_id"/>
        <result property="status" column="status"/>
        <result property="recommended" column="recommended"/>
        <result property="original" column="original"/>
        <result property="description" column="description"/>
        <result property="keywords" column="keywords"/>
        <result property="comment" column="comment"/>
        <result property="password" column="password"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <collection property="tags" ofType="com.vincer.system.domain.Tag">
            <id column="tag_id" property="tag_id"/>
            <result column="tag_name" property="tag_name"/>
        </collection>
    </resultMap>

    <sql id="selectArticleVo">
        select
            a.id,
            a.uuid,
            a.version,
            a.title,
            a.user_id,
            a.cover_image,
            a.read_type,
            a.editor_type,
            a.qrcode_path,
            a.is_markdown,
            a.content,
            a.content_md,
            a.top,
            a.type_id,
            a.status,
            a.recommended,
            a.original,
            a.description,
            a.keywords,
            a.comment,
            a.password,
            a.create_time,
            a.update_time,
            t.id   as tag_id,
            t.name as tag_name
        from article a
             left join article_tag ta on a.id=ta.article_id
             left join tag t on ta.tag_id=t.id
    </sql>

    <select id="selectArticleList" parameterType="Article" resultMap="ArticleResult">
        <include refid="selectArticleVo"/>
        <where>
            <if test="uuid != null  and uuid != ''">and uuid = #{uuid}</if>
            <if test="version != null  and version != ''">and version = #{version}</if>
            <if test="title != null  and title != ''">and title = #{title}</if>
            <if test="userId != null ">and user_id = #{userId}</if>
            <if test="coverImage != null  and coverImage != ''">and cover_image = #{coverImage}</if>
            <if test="readType != null  and readType != ''">and read_type = #{readType}</if>
            <if test="editorType != null  and editorType != ''">and editor_type = #{editorType}</if>
            <if test="qrcodePath != null  and qrcodePath != ''">and qrcode_path = #{qrcodePath}</if>
            <if test="isMarkdown != null  and isMarkdown != ''">and is_markdown = #{isMarkdown}</if>
            <if test="content != null  and content != ''">and content = #{content}</if>
            <if test="contentMd != null  and contentMd != ''">and content_md = #{contentMd}</if>
            <if test="top != null ">and top = #{top}</if>
            <if test="typeId != null  and typeId != ''">and type_id = #{typeId}</if>
            <if test="status != null  and status != ''">and status = #{status}</if>
            <if test="recommended != null  and recommended != ''">and recommended = #{recommended}</if>
            <if test="original != null  and original != ''">and original = #{original}</if>
            <if test="description != null  and description != ''">and description = #{description}</if>
            <if test="keywords != null  and keywords != ''">and keywords = #{keywords}</if>
            <if test="comment != null  and comment != ''">and comment = #{comment}</if>
            <if test="password != null  and password != ''">and password = #{password}</if>
        </where>
    </select>

    <select id="selectArticleById" parameterType="String" resultMap="ArticleResult">
        <include refid="selectArticleVo"/>
        where a.id = #{id}
    </select>

    <insert id="insertArticle" parameterType="Article" useGeneratedKeys="true" keyProperty="id">
        insert into article
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uuid != null">uuid,</if>
            <if test="version != null">version,</if>
            <if test="title != null">title,</if>
            <if test="userId != null">user_id,</if>
            <if test="coverImage != null">cover_image,</if>
            <if test="readType != null">read_type,</if>
            <if test="editorType != null">editor_type,</if>
            <if test="qrcodePath != null">qrcode_path,</if>
            <if test="isMarkdown != null">is_markdown,</if>
            <if test="content != null">content,</if>
            <if test="contentMd != null">content_md,</if>
            <if test="top != null">top,</if>
            <if test="typeId != null and typeId != ''">type_id,</if>
            <if test="status != null">status,</if>
            <if test="recommended != null">recommended,</if>
            <if test="original != null">original,</if>
            <if test="description != null">description,</if>
            <if test="keywords != null">keywords,</if>
            <if test="comment != null">comment,</if>
            <if test="password != null">password,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="uuid != null">#{uuid},</if>
            <if test="version != null">#{version},</if>
            <if test="title != null">#{title},</if>
            <if test="userId != null">#{userId},</if>
            <if test="coverImage != null">#{coverImage},</if>
            <if test="readType != null">#{readType},</if>
            <if test="editorType != null">#{editorType},</if>
            <if test="qrcodePath != null">#{qrcodePath},</if>
            <if test="isMarkdown != null">#{isMarkdown},</if>
            <if test="content != null">#{content},</if>
            <if test="contentMd != null">#{contentMd},</if>
            <if test="top != null">#{top},</if>
            <if test="typeId != null and typeId != ''">#{typeId},</if>
            <if test="status != null">#{status},</if>
            <if test="recommended != null">#{recommended},</if>
            <if test="original != null">#{original},</if>
            <if test="description != null">#{description},</if>
            <if test="keywords != null">#{keywords},</if>
            <if test="comment != null">#{comment},</if>
            <if test="password != null">#{password},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateArticle" parameterType="Article">
        update article
        <trim prefix="SET" suffixOverrides=",">
            <if test="uuid != null">uuid = #{uuid},</if>
            <if test="version != null">version = #{version},</if>
            <if test="title != null">title = #{title},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="coverImage != null">cover_image = #{coverImage},</if>
            <if test="readType != null">read_type = #{readType},</if>
            <if test="editorType != null">editor_type = #{editorType},</if>
            <if test="qrcodePath != null">qrcode_path = #{qrcodePath},</if>
            <if test="isMarkdown != null">is_markdown = #{isMarkdown},</if>
            <if test="content != null">content = #{content},</if>
            <if test="contentMd != null">content_md = #{contentMd},</if>
            <if test="top != null">top = #{top},</if>
            <if test="typeId != null and typeId != ''">type_id = #{typeId},</if>
            <if test="status != null">status = #{status},</if>
            <if test="recommended != null">recommended = #{recommended},</if>
            <if test="original != null">original = #{original},</if>
            <if test="description != null">description = #{description},</if>
            <if test="keywords != null">keywords = #{keywords},</if>
            <if test="comment != null">comment = #{comment},</if>
            <if test="password != null">password = #{password},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteArticleById" parameterType="String">
        delete from article where id=#{id}
    </delete>

    <delete id="deleteArticleByIds" parameterType="String">
        delete from article where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>